

*{
    margin: 0;
    padding: 0;
   
}
.work-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
#banner{
  background-image: url(../banner/banner1.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 1600px;
  height: 808px;
  display: flex;
  justify-content: right;
}
#banner .banner-content{
  width: 100%;
  max-width: 700px;
  /* display: flex;
 vertical-align: end; */
 margin-top: 212px;
 margin-left: 230px;
}
 #banner .banner-content h2{
  max-width: 525px;
  font-size: 65px;
  font-weight: 700;
  color: #151414;
  margin-bottom: 25px;
 }
 #banner .banner-content p{
  max-width: 494px;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 30px;
 }
 .btn{
  background-color: #F15B22;
  padding: 20px 25px;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600px;

 }