

*{
    margin: 0;
    padding: 0;
   
}
.work-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
#banner{
  background-color: #eaeaea;
  background-image: url(../banner/banner1.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 1600px;
  height: 808px;
  display: flex;
  justify-content: right;
}
#banner .banner-content{
  width: 100%;
  max-width: 700px;
  /* display: flex;
 vertical-align: end; */
 margin-top: 212px;
 margin-left: 230px;
}
 #banner .banner-content h2{
  max-width: 525px;
  font-size: 65px;
  font-weight: 700;
  color: #151414;
  margin-bottom: 25px;
 }
 #banner .banner-content p{
  max-width: 494px;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 30px;
 }
 .btn{
  background-color: #F15B22;
  padding: 20px 25px;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600px;

 }
 #imag-container{
  
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
 }

 #imag-container img{
  max-width: 569px;
   padding-top: 125px;
  padding-left: 206px;
  padding-right: 87px;
  padding-bottom: 130px;
 }

 #imag-container .img-container-contact{
  max-width: 416px;
  padding-top: 364px;
  padding-left: 0px;
  padding-right: 322px;
  padding-bottom: 214ppx;
 }
 #imag-container .img-container-contact h2{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #151414;
 }

  #imag-container .img-container-contact p{
    font-size: 16px;
    line-height: 26px;
   color: #444343;
   margin-bottom: 16px;
  }

.img-container-contact ul li{
  list-style: none;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 8px;
  
}
.img-container-contact ul li a{
  
  color: #444343;
  text-decoration: none;
}
.img-container-contact ul li a i{
  color: #16D887;
}

#plan-container{
    /* width: 100%; */
  /* max-width: 1140px; */

  display: flex;

}
#plan-cointainer{
margin-top: 130px;
max-width: 1140px;
margin: 0 auto;
}
#plan-cointainer h2{
  text-align: center;
  font-size: 40px;
  margin-bottom: 55px;
  color: #151414;
}
#plan-cointainer .con-plan-card{
  display: flex;
  justify-content: space-between;
}

.con-plan-card .card-plan h2{
  font-size: 30px;
  margin-bottom: 16px;
  color: #151414;

}
.con-plan-card .card-plan p{
  font-size: 25px;
  color: #737272;
}